@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto'),
        url(../fonts/AnyConv.com__Roboto-Light.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'),
        url(../fonts/AnyConv.com__Roboto-Regular.woff) format("woff");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 34px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #999999;
    font-size: 12px;
}

.menu {
    margin-top: 3px;
    display: flex;
    justify-content: center;
}

.menu__list {
    padding: 0 10px;
}

.menu__link {
    color: #999999;
}

.logo {
    text-align: center;
    margin-top: 5px;
    display: block;
    font-size: 88px;
    color: #333;
}

.nav_menu {
    margin-top: 26px;
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    background-color: #333;
    border-radius: 5px;
    padding: 22px 0 22px 40px;
}

.nav_menu__list {
    margin-right: 36px;
}

.nav_menu__link {
    color: white;
}

.heading {
    margin-top: 37px;
    font-weight: 700;
    font-size: 56px;
    color: #333;
}

.description {
    margin-top: 20px;
    font-size: 20px;
}

.picture-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.big-picture-container, .small-picture__list {
    position: relative;
    text-align: center;
    color: white;
}

.img-text {
    position: absolute;
    bottom: 35%;
    left: 26%;
}

.img-text-mini {
    position: absolute;
    bottom: 30%;
    left: 16%;
}

.img-text .img-heading {
    font-size: 60px;
}

.img-text-mini .img-heading {
    font-size: 40px;
}

.img-description {
    margin-top: 5px;
    font-size: 20px;
}

.small-picture-container {
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.small-picture__list {
    margin-right: 7px;
}

.small-picture__list:last-child {
    margin-right: 0;
}

.container-content {
    margin: 36px auto;
    display: flex;
    justify-content: space-between;
}

.content {
    padding: 16px 20px;
    width: 350px;
    border: 1px solid #a3a3a3;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.content-heading {
    border-bottom: 1px solid #a3a3a3;
}

.content-title {
    padding-bottom: 8px;
    border-bottom: 3px solid #333;
    font-size: 19px;
    font-weight: 400;
    width: fit-content;
    position: relative;
    top: 2px;
    text-transform: uppercase;
}

.big-content {
    width: 810px;
    padding: 16px 26px 16px 20px;
}

.developments-picture-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.developments-picture {
    width: 360px;
    height: 195px;
    position: relative;
}

.developments-title {
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 19px 4px 9px;
    font-weight: 500;
}

.developments-education {
    background: url('../img/Tile-Big-01.png') no-repeat;
    background-size: cover;
}

.title-blue {
    background-color: #468eda;
}

.developments-lessons {
    background: url('../img/Tile-Big-02.png') no-repeat;
    background-size: cover;
}

.title-green {
    background-color: #5cc08c;
}

.developments-lecturers {
    background: url('../img/Tile-Big-03.png') no-repeat;
    background-size: cover;
}

.title-pink {
    background-color: #c075b8;
}

.developments-program {
    background: url('../img/Tile-Big-04.png') no-repeat;
    background-size: cover;
}

.title-orange {
    background-color: #e1b173;
}

.development-heading {
    margin-top: 6px;
    font-size: 17px;
}

.development-date {
    margin: 7px 0 42px;
    color: #918f8f;
    font-size: 12px;
}

.button {
    border: none;
    outline: none;
    display: block;
    background-color: #5cbd5c;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
}

.button:hover {
    transform: scale(1.02);
}

.button:active {
    transform: scale(1);
}

.load-button {
    margin: 54px auto 34px;
    padding: 30px 34px;
}


.social-container {
    padding: 50px 0 15px 0;
    display: flex;
    justify-content: space-around;
}

.social-icon {
    margin: 0 auto;
    display: block;
    max-width: 45px;
    width: 100%;
}

.social-title {
    margin: 16px auto;
    color: #918f8f;
    font-size: 12px;
    font-weight: 400;
}

.users {
    margin: 47px auto 0;
    padding: 16px 20px 92px;
}

.users h2 {
    padding-top: 2px;
}

.container-users {
    margin: 47px 0 28px;
    display: flex;
    flex-direction: column;
}

.user {
    padding-bottom: 19px;
    align-items: center;
    display: flex;
}

.user-img {
    overflow: hidden;
    position: relative;
    width: 68px;
    height: 68px;
}

.user img {
    width: 100%;
    position: absolute;
}

.user-text {
    margin-left: 12px;
}

.user-heading {
    font-size: 14px;
    font-weight: 500;
}

.user-role {
    color: #918f8f;
    font-size: 13px;
}

.videos {
    margin: 4px auto;
    padding: 16px 20px 10px;
    width: 100%;
    border: none;
    background-color: #f4f4f4;
}

.content-title-videos {
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

.videos-picture-container {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;

}

.video {
    width: 284px;
    height: 200px;
}

.video_one {
    background: url('../img/video-01.png') no-repeat;
    background-size: cover;
}

.video_two {
    background: url('../img/video-02.png') no-repeat;
    background-size: cover;
}

.video_three {
    background: url('../img/video-03.png') no-repeat;
    background-size: cover;
}

.video_four {
    background: url('../img/video-04.png') no-repeat;
    background-size: cover;
}

.news {
    padding: 16px 20px 56px;
}

.content-heading-news {
    width: 45%;
}

.container-news {
    display: flex;
    flex-direction: column;
}

.news-item {
    padding: 10px 0 12px;
    width: 97%;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #a3a3a3;
}

.news-text {
    margin-left: 14px;
}

.news-heading {
    color: black;
    font-size: 18px;
    font-weight: 400;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: 0.03vw;
}

.news-description {
    margin-top: 3px;
    color: #918f8f;
    font-size: 14px;
    padding-bottom: 4px;
}

.news-date {
    margin-top: 5px;
    color: #918f8f;
    font-size: 12px;
}

.form-heading {
    margin: 26px 0 0 0;
    color: #6f6b6b;
    font-size: 14px;
    font-weight: 700;
    width: 60%;
}

.field {
    margin: 18px 0 0 0;
    padding: 12px 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    background: white;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

input::-moz-placeholder {
    color: #bab1b1;
}

input::-webkit-input-placeholder {
    color: #bab1b1;
}

input:focus {
    border-color: #5cbd5c;
}

.submit {
    margin: 22px 0 0;
    padding: 16px 20px;
    width: 116px;
    float: right;
}

.footer {
    margin-top: 148px;
    width: 100vw;
    text-align: center;
    padding: 62px 0;
    font-size: 14px;
    background-color: #333;
    color: #a3a3a3;
}

@media (max-width: 1200px) {
    .container {
        max-width: 1100px;
    }

    .picture-container {
        margin-top: 22px;
        flex-wrap: nowrap;
    }

    .picture {
        width: 98.6%;
    }

    .small-picture__list {
        width: 48.4%;
    }

    .small_picture {
        width: 100%;
    }

    .content {
        padding: 16px 20px;
        width: 280px;
    }

    .big-content {
        width: 640px;
        padding: 16px 26px 16px 20px;
    }

    .developments-picture-container {
        margin-top: 22px;
    }

    .developments-picture {
        width: 233px;
        height: 126px;
    }

    .developments-title {
        font-size: 8px;
        padding: 2px 44px 2px 9px;
    }

    .development-heading {
        margin-top: 6px;
        font-size: 10px;
    }

    .development-date {
        margin: 5px 0 22px;
        font-size: 8px;
    }

    .load-button {
        margin: 34px auto 22px;
        padding: 18px 14px;
    }

    .button {
        font-size: 10px;
    }

    .social-container {
        padding: 28px 0 15px 0;
    }

    .social-icon {
        max-width: 28px;
    }

    .social-title {
        margin: 8px auto;
        font-size: 8px;
    }

    .users {
        margin: 27px auto 0;
        padding: 10px 10px 38px;
    }

    .container-users {
        margin: 24px 0 28px;
    }

    .user {
        padding-bottom: 14px;
    }

    .user-img {
        width: 44px;
        height: 44px;
    }

    .user img {
        width: 100%;
        position: absolute;
    }

    .user-text {
        margin-left: 4px;
    }

    .user-heading {
        font-size: 10px;
    }

    .user-role {
        font-size: 8px;
    }

    .videos-picture-container {
        padding: 22px 0 18px;
    }

    .videos {
        width: 100%;
    }

    .video {
        width: 180px;
        height: 128px;
    }
}

@media (max-width: 1000px) {
    .container {
        max-width: 900px;
    }

    .header {
        font-size: 8px;
    }

    .logo {
        margin-top: 2px;
        font-size: 56px;
    }

    .nav_menu {
        margin-top: 16px;
        font-size: 10px;
        padding: 14px 0 14px 24px;
    }

    .heading {
        margin-top: 26px;
        font-size: 34px;
    }

    .description {
        margin-top: 14px;
        font-size: 14px;
    }

    .container-content {
        margin: 20px auto;
    }

    .content {
        width: 226px;
        padding: 10px 16px;
    }

    .big-content {
        width: 514px;
        padding: 10px 16px 10px 12px;
    }

    .content-title {
        font-size: 12px;
    }

    .users {
        padding: 10px 10px 38px;
    }

    .videos-picture-container {
        padding: 22px 0 18px;
    }

    .videos {
        width: 100%;
    }

    .video {
        width: 180px;
        height: 128px;
    }

    .news-item {
        padding: 8px 0 6px;
    }

    .news_img {
        width: 66px;
    }

    .news-heading {
        font-size: 10px;
    }

    .news-description {
        font-size: 10px;
    }

    .news-date {
        font-size: 8px;
    }

    .form-heading {
        margin: 18px 0 0 0;
        font-size: 9px;
    }

    .field {
        margin: 10px 0 4px 0;
        padding: 4px 10px;
        font-size: 8px;
    }

    .submit {
        margin: 8px 0 0;
        padding: 10px 10px;
        width: 70px;
    }

    .footer {
        margin-top: 46px;
        padding: 30px 0;
        font-size: 8px;
    }

}

@media (max-width: 750px) {
    .container {
        max-width: 650px;
    }

    .nav_menu {
        overflow-x: auto;
    }

    .nav_menu__link {
        white-space: nowrap;
    }

    .heading, .description {
        padding: 0 10px;
    }

    .picture-container {
        flex-wrap: wrap;
        padding: 0 10px;
        justify-content: center;
    }

    .container-content {
        flex-direction: column;
    }

    .development {
        width: 100%;
    }

    .developments-picture-container {
        justify-content: center;
    }

    .developments-picture {
        width: 100%;
    }

    .load-button {
        margin: 34px auto;
        padding: 18px 14px;
        width: 160px;
    }

    .soc-user-content {
        display: flex;
        flex-direction: column;
    }

    .social-media {
        order: 2;
    }

    .content {
        width: 100%;
    }

    .users {
        margin: 27px auto;
        padding: 10px 10px;
    }

    .user {
        justify-content: center;
    }

    .user-img {
        width: 68px;
        height: 68px;
    }

    .user img {
        width: 100%;
        position: absolute;
    }

    .user-text {
        margin-left: 24px;
    }

    .user-heading {
        font-size: 18px;
    }

    .user-role {
        font-size: 16px;
    }

    .social-icon {
        width: 56px;
        max-width: 100%;
    }

    .social-title {
        font-size: 14px;
    }

    .videos {
        overflow-x: auto;
    }

    .videos-picture-container {
        width: 738px;
    }

    .news {
        display: none;
    }

    .registr {
        width: 70%;
        margin: 0 auto;
    }

    .registr-title {
        font-size: 16px;
    }

    .form-heading {
        font-size: 12px;
    }

    .field {
        padding: 8px 10px;
        font-size: 12px;
    }

    .submit {
        padding: 14px 18px;
        width: 86px;
    }
}